<%= simple_form_for @target, :html => { :class => 'form-horizontal col-md-6' } do |f| %>
  <%= f.input :name, :label => 'Название' %>
  <%= f.error_span(:name) %>

  <%= f.button :submit, "Сохранить", :class => 'btn-primary' %>
  <%= link_to 'Отмена',  targets_path, :class => 'btn btn-default' %>
<% end %>
