
<%= simple_form_for [@category, @item], :html => { :class => 'form-horizontal  col-md-6' } do |f| %>
  <%= f.input :name , :label =>"Название", required: true %>
  <%= f.error_span(:name)%>
  
  <%= f.association :category, :label =>"Категория", :required => true %>
  <%= f.error_span(:category) %>
  <%#= f.input :sku %>
  <%#= f.error_span(:sku) %>
  <%= f.input :description, :label =>"Описание" %>
  <%= f.error_span(:description) %>
  <%= f.input :red_line, :label =>"Минимальный остаток" , input_html: { min: '0' } %>
  <%= f.error_span(:red_line) %>
  <%= f.input :unit_type, :label =>"Ед. Измерения", input_html: { value: 'шт.' } %>
  <%= f.error_span(:unit_type) %>
  <%#= f.input :price, as: :string, :label =>"Цена" , required: true , input_html: {  value: number_with_precision(f.object.price.cents, precision: 0)}%>
  <%= f.input :price,  as: :currency, :input_html => { :class => 'money_input' }, :label =>"Цена" %>
  <%= f.error_span(:price) %>
  <%= f.input :amount , :label =>"Количество" , required: true , input_html: { min: '0' }%>
  <%= f.error_span(:amount)%>

  <%= f.button :submit, :class => 'btn-primary' %>
  <%#= link_to t('.cancel', :default => t("helpers.links.cancel")),
                category_path(@category), :class => 'btn btn-default' %>
<% end %>

<script>
  $(function() {
    $('.money_input').maskMoney({prefix:'₴', decimal:',', affixesStay: false});
  })
</script>

