<div class="col-md-12">
  <table class="table table-striped  table-hover">
    <thead>
      <tr>
        <th>Категория</th>
        <th>Наименование</th>
        <th>Описание</th>
        <th>Цена</th>
        <th>К-во</th>
        <th>Total</th>
        <th>Действия</th>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><strong><%= link_to truncate("  #{item.category.name}", length: 27, separator: ' ') , category_item_path(item.category, item) %> </strong></td>
          <td><strong><%= link_to truncate("  #{item.name}", length: 35, separator: ' ') , category_item_path(item.category, item) %></td></strong>
          <td><%= truncate("  #{item.description}", length: 17, separator: ' ')  %></td>
          <td><%= item.price %> грн  </td>
          <td>
            <% if item.amount < item.red_line %>
              <span class="label label-danger"> <%= item.amount %></span> <%= item.unit_type %>
            <% else %>
              <%= item.amount %> <%= item.unit_type %>
            <% end %>
          </td>
          
          <td class="info" ><strong><%= item.total %>  грн. </strong> </td>
          <td>
          <%= link_to  'Получить',
            new_transaction_path(:item_id=> item, :action_type => "In"), :class => 'btn btn-default btn-xs' %>
            
            <% if item.amount > 0 %>
              <%= link_to  'Выдать',
                new_transaction_path(:item_id=> item, :action_type => "Out"), :class => 'btn btn-default btn-xs' %>
            <% else %>
              <%= link_to  'Выдать',
                new_transaction_path(:item_id=> item, :action_type => "Out"), :class => 'btn btn-default btn-xs disabled' %>
            <% end %>  
              
            <%#= link_to t('show', :default => t("helpers.links.show")),
                        item_path(item), :class => 'btn btn-default btn-xs' %>
            <%#= link_to t('edit', :default => t("helpers.links.edit")),
                        edit_item_path(item), :class => 'btn btn-default btn-xs' %>
            <%= link_to t('destroy', :default => t("helpers.links.destroy")),
                        category_item_path(item.category, item),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-xs btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>


