<%- model_class = Item -%>
<div class="page-header">
  <h3 class="text-info"> Инвентарь</h3>
</div>
<div class="row">
  <div class="col-md-6">  
<dl class="dl-horizontal">
  <dt><strong>Название:</strong></dt>
  <dd><%= @item.name %></dd>
  <dt><strong>Категория:</strong></dt>
  <dd><%= @item.category.name %></dd>
  <dt><strong>Описание:</strong></dt>
  <dd><%= @item.description %></dd>
  <dt><strong>Цена:</strong></dt>
  <dd><%= @item.price %></dd>
  <dt><strong>Количетсво:</strong></dt>
  <dd><%= @item.amount %></dd>
</dl>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading"> Баланс </div>
      
       <table class="table table-responsive  table-hover ">

  <thead>
    <tr>
      <th>Приход </th>
      <th> </th>
      <th>Выдано </th>
      <th>   </th>
      <th>В наличии </th>
    </tr>
  </thead>
  <tbody>
   <tr>
     <th><%= @total_in %> <%= @item.unit_type %> </th>
     <th> =</th>
     <th><%= @total_out %> <%= @item.unit_type %></th>
     <th> <strong>+</strong> </th>
     <th><%= @item.amount %> <%= @item.unit_type %> </th>
    </tr>

  </tbody>
</table>
    
      <div class="panel-footer">
        <% balance =  @total_in - @item.amount - @total_out%>
        <%- if balance > 0 %>
          <span class="text text-info"> Недостача: <%= balance %></span>
        <% elsif balance < 0 %>  
          <span class="text text-info "> Избыточность:  <span class="label label-primary">   <%= @total_in - @item.amount - @total_out%> </span></span>
      <% else %>
         Баланс:  <span class="glyphicon  glyphicon-ok" aria-hidden="true"></span>
      <% end %>
      
      
      </div>
   
    </div>
    
    </div>
  </div>

<%#= link_to t('.back', :default => t("helpers.links.back")),
              category_items_path, :class => 'btn btn-default'  %>
<%#= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_item_path(@item), :class => 'btn btn-default' %>
<%#= link_to t('.destroy', :default => t("helpers.links.destroy")),
              item_path(@item),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>

<%= paginate @transactions,  :theme => 'twitter-bootstrap-3' %>
<table class="table table-responsive table-striped table-hover ">
<%
=begin
%>
  <thead>
    <tr>
      <th><%= sort_link(@q, :category) %> </th>
      <th>Позиция</th>
      <th style="max-width:20%;"><%= sort_link(@q, :action_type, "-+") %></th>
      <th>Станция</th>
      <th class="hidden-print">Опер.</th>
      <th><%= sort_link(@q, :created_at, "Дата") %></th>
      <th>N</th>
      <th></th>
      <th class="hidden-print"></th>
    </tr>
  </thead>
<%
=end
%>
 
  <tbody>
    <% @transactions.each do |transaction| %>
      <% begin %>
      <tr>  
        <%= render :partial => 'transactions/transaction_row', :locals => {:transaction => transaction} %>
      </tr>  
    <% end %>
    <% end %>
  </tbody>
</table>

<%= paginate @transactions,  :theme => 'twitter-bootstrap-3' %>

