<%- model_class = Category -%>
<div class="page-header">
  <h3> Категории </h3>
</div>

<% content_for :sidebar do %>
<div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">Поиск Категорий</div>
        <div class="panel-body">
         <%= ransack_simple_form_for @q , :html => { :class => 'form-vertical ' } do |f| %>
              <%= f.input  :name_cont  , :label => "Наименование" ,:include_blank => true %>
              <%= f.button :submit, "Поиск", :class => 'btn-primary btn-block' %>
          <% end %>
        </div>
      </div>
    </div>

<% end %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_category_path,
            :class => 'btn btn-primary' %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Назв. </th>
      <th>Описание </th>
      <th>Количество ед. </th>
      <th>Баланс</th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to category.name, category_path(category) %></td>
        <td><%= category.description %></td>
        <td><%= category.items_count %></td>
        <td><%= category.total_cost %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      category_path(category), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_category_path(category), :class => 'btn btn-default btn-xs' %>
                      
          
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      category_path(category),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => "btn btn-xs btn-danger  #{ 'disabled' if category.total_cost > 0}" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_category_path,
            :class => 'btn btn-primary' %>
