<%- model_class = Category -%>
 
 <blockquote>
  <strong class="text-success"><%= @category.name rescue ''%></strong>
  <%= link_to "Добавить наименованние", new_category_item_path(:category_id => @category.id),
            :class => 'btn btn-xs btn-default pull-centr ' %>
</blockquote>

<% content_for :sidebar do %>
   <div class="">
    <%= render "layouts/categories" %>
  </div>

  <%#= render "layouts/items_form_search" %>
  
 
<% end %>
 <%= ransack_simple_form_for @q , url: category_path(@category), :html => { :method => :get, :class => 'form-inline ' } do |f| %>
    <%= f.input  :name_cont  ,placeholder:'Поиск...' , :label => false ,:include_blank => true %>
    <%= f.button :submit, "Поиск", :class => 'btn-primary ' %>
  <% end %>


<%= paginate @items, window: 2 , :theme => 'twitter-bootstrap-3' %>
<div class="col-md-12">
  <table class="table table-striped  table-hover">
    <thead>
      <tr>
        <th>Наименование</th>
        <th></th>
        <th>Цена</th>
        <th>К-во</th>
        <th></th>
        <th>Total</th>
        <th>Действия</th>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
        <tr>
          <!--td><strong><%= link_to truncate("  #{item.category.name}", length: 27, separator: ' ') , category_item_path(item.category, item) %></td></strong--!>
          <td><strong><%= link_to truncate("  #{item.name}", length: 70, separator: ' ') , category_item_path(item.category, item) %></td></strong>
          
          <td><strong class="text-muted"><%= item.last_income %></strong>   </td>
          <td><%= item.price.format %> </td>
          <td>
            <% if item.amount < item.red_line %>
              <span class="label label-danger"> <%= item.amount %></span> <%= item.unit_type %>
            <% else %>
              <%= item.amount %> <%= item.unit_type %>
            <% end %>
          </td>
          
          <td>  </td>
          <td class="info" ><strong><%= item.total.format %> </strong> </td>
          <td>
          <%= link_to  'Получить',
            new_transaction_path(:item_id=> item, :action_type => "In"), :class => 'btn btn-default btn-xs' %>
            
            <% if item.amount > 0 %>
            <%= link_to  'Выдать',
              new_transaction_path(:item_id=> item, :action_type => "Out"), :class => 'btn btn-default btn-xs' %>
            <% else %>
              <%= link_to  'Выдать',
                new_transaction_path(:item_id=> item, :action_type => "Out"), :class => 'btn btn-default btn-xs disabled' %>
            <% end %> 
              <%#= link_to t('show', :default => t("helpers.links.show")),
                        item_path(item), :class => 'btn btn-default btn-xs' %>
          <%- if current_user.admin? %>
            <%= link_to t('edit', :default => t("helpers.links.edit")),
                        edit_item_path(item), :class => 'btn btn-default btn-xs' %>
                      
              <%= link_to 'Обнулить',
                        reload_item_path(item), :class => 'btn btn-primary btn-xs' %>
             <% end %>           
                      
            <% if item.amount == 0 %>            
            <%= link_to t('destroy', :default => t("helpers.links.destroy")),
                        category_item_path(item.category, item),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-xs btn-danger' %>
                    <% end %> 
                     
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @items, window: 2 , :theme => 'twitter-bootstrap-3' %>
  <%= link_to "Добавить наименованние",
  new_category_item_path(:category_id => @category.id),
            :class => 'btn btn-default' %>
</div>

<%
=begin
%>              
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_category_path(@category), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              category_path(@category),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>

<%
=end
%>              
