<%= simple_form_for @transaction, :html => { :class => 'form-horizontal col-md-4' } do |f| %>
  <%= f.association :item, :label => "Позиция" , :readonly => true, required: true %>
  <%= f.error_span( :item_id ) %>
  <%= f.association :user, as: :hidden, input_html: { value: current_user.id } %>
  <%= f.error_span( :user_id ) %>
  <%= f.input :action_type, collection: [ ["Приход на склад","In"], ["Выдача на станцию","Out"]], :readonly => true , :label => "Тип операции "%>
  <%= f.error_span(:action_type) %>
  <% if @transaction.action_type == "Out"%> 
    <%= f.input :amount , :label => "Количетсво (макс. #{ @transaction.item.amount })" , required: true , input_html: { min: '1', max: @transaction.item.amount }%>
  <% else %>
    <%= f.input :amount , :label => "Количетсво " , required: true , input_html: { min: '1' }%>
  <% end %>  
  <%= f.error_span(:amount) %>
  <% if @transaction.action_type == "Out"%> 
    <%= f.association :target , :label => "Пункт назначения (Станция №1, ... )" , required: true %>
  <% end %>
  <%= f.error_span(:target_id) %>
  <%= f.input :notes , :label => "Заметки"%>
  <%= f.error_span(:notes) %>

  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                transactions_path, :class => 'btn btn-default' %>
<% end %>
