        <td><%= link_to transaction.category_name, category_path(transaction.item.category) rescue ''%></td>
        <td><%= link_to transaction.item.name, category_item_path(transaction.item.category, transaction.item) %></td>
        <%- case transaction.action_type %>
        <% when "In" %>
          <td><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></td>
          <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>
        <% when "Out" %>
          <td><span class="glyphicon glyphicon-export" aria-hidden="true"></span></td>
          <td><%= transaction.target.name rescue 'unknown'  %></td>
        <% end %>
        <td class="hidden-print"><%=  transaction.user.email rescue '-'  %> </td>
        
        <td><%= transaction.created_at.strftime("%d/%m %H:%M") rescue '-' %></td>
        
        <td><%= transaction.amount %> <%= transaction.item.unit_type%> x <%= transaction.item.price%> </td>
        
        <% if transaction.action_type == "In" %>
          <td class="info" > <strong>+ <%= transaction.cost  %> грн.</strong></td>
        <% else %>
          <td class="danger" > <strong>- <%= transaction.cost  %> грн.</strong></td>
          <% end %>  
        <td class="hidden-print">
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      transaction_path(transaction), :class => 'btn btn-default btn-xs' %>
          <%#= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_transaction_path(transaction), :class => 'btn btn-default btn-xs' %>
                    <%= link_to "Отмена",
                      decline_transaction_path(transaction),
                      :method => :post,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>

                    
                    <%- if current_user.admin? %> 
                    <%#= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      transaction_path(transaction),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
      
          <% end %>
        </td>
