<%- model_class = Transaction -%>
<div class="page-header">
  <h3><%=t '.title', :default => model_class.model_name.human.titleize %></h3>
</div>

<dl class="dl-horizontal">
  <dt><strong>#:</strong></dt>
  <dd><%= @transaction.item_id %></dd>
  <dt><strong>Количество:</strong></dt>
  <dd><%= @transaction.amount %></dd>
  <dt><strong>Тип транзакции:</strong></dt>
  <% if @transaction.action_type == "Out"%> 
    <dd>Выдача на станцию</dd>
    <dt><strong>Пункт назначения:</strong></dt>
    <dd><%= @transaction.target_id %></dd>
  <% else %>
    <dd> Приход на склад</dd>
  <% end %>  
  <dt><strong>Заметки:</strong></dt>
  <dd><%= @transaction.notes %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              transactions_path, :class => 'btn btn-default'  %>
<%#= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_transaction_path(@transaction), :class => 'btn btn-default' %>
<%#= link_to t('.destroy', :default => t("helpers.links.destroy")),
              transaction_path(@transaction),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
